@model IEnumerable<sgo_back_end.Models.Voluntario>

@{
    ViewData["Title"] = "Listagem de Voluntários";
}

<h1 class="lista-voluntario__titulo">Listagem de Voluntários</h1>

<section class="lista-voluntario-container">
    <table class="voluntario__tabela">
        <tr class="voluntario__tabela-header">
            <td>
                @Html.DisplayNameFor(model => model.Nome)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Telefone)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Funcao)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Disponivel)
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model) {
        <tr class="voluntarios-cadastradas">
            <td class="item">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="item">
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td class="item">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="item">
                @Html.DisplayFor(modelItem => item.Funcao)
            </td>
            <td class="item">
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="voluntario__botao-editar">
                    <img src="~/img/botão-editar.png" />
                    Editar
                </a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="voluntario__botao-editar">
                    <img src="~/img/botão-detalhes-lista.png" />
                    Detalhes
                </a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="voluntario__botao-editar">
                    <img src="~/img/botão-excluir-lista.png" />
                    Deletar
                </a>
            </td>

        </tr>
        }
    </table>
</section>